{
  "version": 1,
  "minor_version": 1,
  "key": "core.config",
  "data": {
    "latitude": 51.71797935560017,
    "longitude": 5.8899325132369995,
    "elevation": 0,
    "unit_system": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Amsterdam",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR"
  }
}